@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Estilo para el body */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #3498db, #8e44ad); /* Fondo azul */
}

/* Estilos para el login */
.form__Login {
    background: rgba(255, 255, 255, 0.8); /* Fondo del formulario  */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    max-width: 300px;
    width: 100%;
    
}

/* Título del login */
.form__title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para los campos del login */
.form__input {
    position: relative;
    margin-bottom: 20px;
}

.form__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.form__label input {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
}

.form__label ion-icon {
    font-size: 20px;
    color: #aaa;
}

/* Estilo del botón */
.form__btn {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form__btn:hover {
    background-color: #35759f;
}

/* Estilos de los enlaces */
.form__link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.form__link a {
    color: #3498db;
    text-decoration: none;
}

.form__link a:hover {
    text-decoration: underline;
}


